
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  color: #000;
}

header {
  background-color: #1a1a1a;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00ffff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 15px;
  border-radius: 30%;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
}

section {
  padding: 50px 20px;
  text-align: center;
}

.skills-logos img {
  width: 60px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.skills-logos img:hover {
  transform: scale(1.2);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.skill-item {
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}
